:root {
    --a-color: #232323;
    --b-color: #FFFFFF;

    --chess-field-a-color: #769656;
    --chess-field-b-color: #EEEED2;

    --chess-piece-a-color: #FFFFFF;
    --chess-piece-b-color: #2C2B29;

    --panel-color: #40916C;

    --primary-font: "Roboto Condensed", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: var(--a-color);
    color: var(--b-color);
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1.5rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--b-color);
}

@Media(width < 500px) {
    h1 {
        font-size: 2.5rem;
    }
}

.start-section {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.chessboard-section {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

@Media(width < 800px) {
    .chessboard-section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    chessboard-panel {
        order: 1;
    }

    info-panel {
        order: 2;
    }
}